<% if @user.is_hero %>
    <h1 style="font-family:avenir; font-size:40px;">Edit Your Hero</h1>
<% else %>
    <h1>Edit Your User</h1>
<% end %>

<% if flash[:errors] %>
    <h1 style='color: salmon;'> Invalid Entry: </h1>
    <% flash[:errors].each do |error| %>
        <h3 style='color: salmon;'><b><%= error %></b> </h3>
    <% end %>
<% end %>

<% if @user.is_hero == true && @user.intelligence == 0 && @user.strength == 0 && @user.durability %>
    <h2> Please fill out your Hero Attributes at the bottom of this form:</h2>
    <h4>   Note: Our Audit Team includes Professor Charles Xavier. </h4>
    <h4> Any ability ratings 50 and above must be approved by the Xmen.</h4>
    <h4><i>   ANY false claims about your abilities will be treated as FRAUD. </i></h4> 
    <%= image_tag("https://www.superherodb.com/pictures2/portraits/10/100/113.jpg") %>
    <p></p> 
<% end %>

<%= form_for @user do |f| %>
  <%= f.label :username %><br>
  <%= f.text_field :username %><br>
  <label>Password</label><br>
  <%= f.password_field :password %><br><br>
  <%= f.label :first_name %><br>
  <%= f.text_field :first_name %><br>
  <%= f.label :last_name %><br>
  <%= f.text_field :last_name %><br><br>
  <%= f.label :location %><br>
  <%= f.select :location, ["DC", "NY", "SF"] %><br>
  <label>Do you want a Premium Membership?</label><br>
  <%= f.select :is_premium, [["Yes", true], ["No", false]] %><br>
   <label>Are you signing up as a Hero?</label><br>
   <%= f.select :is_hero, [["Yes", true], ["No", false]] %><br>

        
    <h2>For Heroes ONLY:</h2>    
    <p>If you're not a hero, skip to 'Update User' below.</p>
    <h2>Enter Hero Information Below:</h2> 
    <label>Hero Name:</label><br>
    <%= f.text_field :name %><br>
    <h3>Hero Attritube Ratings:</h3>
    <%= f.label :intelligence %><br>
    <%= f.text_field :intelligence %><br>
    <div> <%= f.label :strength %><br>
    <%= f.text_field :strength %><br></div>    
    <%= f.label :speed %><br>
    <%= f.text_field :speed %><br>
    <%= f.label :durability %><br>
    <%= f.text_field :durability %><br>
    <%= f.label :power %><br>
    <%= f.text_field :power %><br>
    <%= f.label :combat %><br>
    <%= f.text_field :combat %><br>


    <label> Photo URL (optional) </label><br>
    <%= f.text_field :img_url %><br>
    <label>Do you have Good or Bad Intentions?</label><br>
    <%= f.select :alignment, ["Good", "Bad"] %><br>
 

    <label> Hourly Rate </label><br>
    <%= f.text_field :price %><br>
    <div>
        <p></p>
    <%= f.submit %>
    </div>
    
<% end %>

<div>
    <p></p>
    <p></p><br>
<%= button_to "Delete This User", user_path(@user), method: :delete %>
</div>


<br>
<br>
<br>
<br>
<br>
<p></p>