<h1>Superhero Page</h1>

Name: <%= @superhero.name %><br>
Alias: <%= @superhero.alter_ego %><br>
Hourly Rate: <%= @superhero.price %><br>
Abilities: <br>
Intelligence: <%= @superhero.intelligence %><br>
Strength: <%= @superhero.strength %><br>
Speed: <%= @superhero.speed %><br>
Durability: <%= @superhero.durability %><br>
Power: <%= @superhero.power %><br>
Combat: <%= @superhero.combat %><br>
This Superhero is currently listed as a <%= @superhero.alignment %> superhero.<br>
<%= image_tag("#{@superhero.img_url}") %>

<% if @superhero.appointments.any? %>  
    <% @superhero.superhero_appointments.each do |appt| %>
        <% cust = User.find_by(id: appt.customer_id) %> 
        From: <%= appt.start_time %> <%= appt.start_ampm %> To: <%= appt.end_time %> <%= appt.end_ampm %> At: <%= appt.location %><br>
        For: <%= cust.first_name %> <%= cust.last_name %>
        Services: <%= appt.description_of_service %>
    <% end %>
<% else %> 
    This Superhero has yet to book any appointments.
<% end %> 

    <%= form_for @appointment do |f| %>
        <%= f.label :location %>
        <%= f.select :location, ["DC", "NY"] %><br> 

        <%= f.label :start_time %>
        <%= f.select :start_time, [1,2,3,4,5,6,7,8,9,10,11,12] %><br>
        <%= f.select :start_ampm, ["AM", "PM"] %> 

        <%= f.select :end_time, [1,2,3,4,5,6,7,8,9,10,11,12] %><br>
        <%= f.select :end_ampm, ["AM", "PM"] %>

        <%= f.label :description_of_service %>
        <%= f.select :description_of_service, ["Protection", "Entertainment", "Chores", "Travel", "Murder"] %>

        <%= f.hidden_field :customer_id, :value => @current_user.id %>
        <%= f.hidden_field :superhero_id, :value => @superhero.id %> 

        <%= f.submit %>

    <% end %> 